.password-container {
    position: relative;
    display: inline-block;
}

.password-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Make space for the eye icon */
    border-radius: 5px;
    font-size: 16px;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.eye-icon svg {
    position: absolute;
    width: 28px;
    height: 28px;
    fill: #686279;

    transform: scale(1); /* Keep the initial size */
    transition: opacity 0.2s ease, transform 0.2s ease; /* Smooth transition */
}

.eye-open {
    opacity: 1; /* Make eye-open visible by default */
    transform: scale(1); /* Normal size */
}

.eye-closed {
    opacity: 0; /* Hidden by default */
    transform: scale(1); /* Initially hidden */
}

.eye-icon.show-password .eye-open {
    opacity: 0; /* Fade out eye-open */
    transform: scale(0.95); /* Subtle pop-out effect */
}

.eye-icon.show-password .eye-closed {
    opacity: 1; /* Fade in eye-closed */
    transform: scale(1.05); /* Slightly larger pop-in effect */
}