@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

}

body {
    background-color: #686279;

    font-family: inter;
    color: #aaaaab;
}

h1, h2, h3, p { margin: 0; }

h1 {
    font-family: inter;
    font-size: 52px;
    font-weight: 500;

    color: #FFFFFF;
}

a {
    color: #baa3f5;
    text-decoration: underline;
}



input {
    height: 56px;
    width: 100%;

    font-family: inter;
    font-size: 15px;

    background-color: #3c364c;
    color: #FFFFFF;

    outline: none;
    border: 1px #ffffff00 solid;
    
    border-radius: 8px;

    padding-left: 15px;
    box-sizing: border-box;

    transition: border ease 0.2s;
}

input:focus-within {
    border-color: #b9a7f5;
}

::placeholder {
    color: #767286;
    opacity: 1;
}

button {
    height: 56px;
    width: 100%;

    font-family: inter;
    font-size: 15px;

    background-color: #6d54b5;
    color: #FFFFFF;

    outline: none;
    border: 2px #ffffff00 solid;

    border-radius: 8px;

    padding-left: 15px;
    box-sizing: border-box;

    cursor: pointer;

    transition: box-shadow ease 0.2s;
}

button:hover {
    box-shadow: 0px 0px 20px -3px #6d54b5;
}

.mainBox {
    /* border: 1px cyan solid; */

    width: 1300px;
    height: 800px;
    padding: 15px;

    border-radius: 20px;

    background-color: #332c41;

    box-shadow: 0px 0px 100px -5px #332c41;
}

.innerContainer {
    display: flex;
    flex-direction: row;

    gap: 20px;

    width: 100%;
    height: 100%;
}

.leftBox {
    /* border: 1px rgb(0, 255, 13) solid; */

    width: 100%;
    height: 100%;

    border-radius: 10px;

    background-color: #5a5398;

    background-image: url('/assets/purple-mojave.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    mask-image: content-box;
}

.innerLeft {
    display: flex;
    align-items: end;
    flex-direction: row;

    padding: 15px;

    height: inherit;

    box-sizing: border-box;
}

.rightBox {
    /* border: 1px rgb(234, 0, 255) solid; */

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr auto;
}

.formContainer {
    width: 100%;
    height: 100%;

    padding: 50px;
    box-sizing: border-box; 
}

.formInputs {
    display: flex;
    flex-direction: column;

    gap: 20px;
}


.backButton { margin-left: auto; }

.backButton button {
    width: 200px;
    height: 44px;

    padding: 0;

    color: #ffffff;


    background: rgba(255, 255, 255, 0.124);
    backdrop-filter: saturate(100%) blur(2px);
}

.backButton button:hover {
    box-shadow: 0px 0px 25px -3px #312a3e;
}