@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: inter;
    color: #aaaaab;
}

body {
    background-color: #686279;
}

h2 {
    font-family: inter;
    font-size: 42px;
    font-weight: 500;

    color: #FFFFFF;
}

h1 {
    font-family: inter;
    font-size: 56px;
    font-weight: 500;

    color: #FFFFFF;
}

h1, h2, h3, p {
    margin: 0;
}

input {
    height: 56px;
    width: 100%;

    font-family: inter;
    font-size: 15px;

    background-color: #3c364c;
    color: #FFFFFF;

    outline: none;
    border: 1.5px #ffffff00 solid;
    
    border-radius: 8px;

    padding-left: 15px;
    box-sizing: border-box;
}

input:focus-within {
    border-color: #b9a7f5;
}

::placeholder {
    color: #767286;
    opacity: 1;
}

button {
    height: 56px;
    width: 100%;

    font-family: inter;
    font-size: 15px;

    background-color: #6d54b5;
    color: #FFFFFF;

    outline: none;
    border: 2px #ffffff00 solid;

    border-radius: 8px;

    box-sizing: border-box;

    cursor: pointer;

    transition: box-shadow ease 0.2s;
}

button:hover {
    box-shadow: 0px 0px 20px -3px #6d54b5;
}

a {
    color: #baa3f5;
    text-decoration: underline;
}

.centered {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.mainBox {
    /* border: 1px cyan solid; */

    width: 800px;
    height: 600px;
    padding: 50px;
    padding-bottom: 25px;


    border-radius: 20px;

    background-color: #332c41;

    box-shadow: 0px 0px 100px -5px #332c41;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.accountAction { margin-left: auto; }

.accountAction button {
    width: 200px;
    height: 44px;

    padding: 0;

    color: #ffffff;

    border: 2px solid #ffffff00;

    background: rgba(255, 255, 255, 0.124);
    backdrop-filter: saturate(100%) blur(2px);

    transition: border, ease, 0.3s;
}

.accountAction button:hover {
    box-shadow: 0px 0px 25px -3px #312a3e;
    border: 2px solid #dd3f3f;
}

.accountActionGuest:hover {
    box-shadow: 0px 0px 25px -3px #312a3e;
    border: 2px solid #3fdd57 !important;
}